# Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
!wget https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

--2017-07-06 20:27:11--  https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv
Resolving raw.githubusercontent.com... 151.101.20.133
Connecting to raw.githubusercontent.com|151.101.20.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 364975 (356K) [text/plain]
Saving to: ‘chipotle.tsv’

chipotle.tsv        100%[===================>] 356.42K  --.-KB/s    in 0.09s

2017-07-06 20:27:11 (3.99 MB/s) - ‘chipotle.tsv’ saved [364975/364975]

### Step 3. Assign it to a variable called chipo.

In [8]:
!ls

Exercise_with_Solutions.ipynb Solutions.ipynb
Exercises.ipynb               chipotle.tsv

In [9]:
chipo_path = "chipotle.tsv"

In [13]:
%time chipo = pd.read_csv(chipo_path, sep = '\t')

CPU times: user 10.6 ms, sys: 6.03 ms, total: 16.6 ms
Wall time: 29.3 ms

### Step 4. See the first 10 entries

In [14]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [15]:
chipo.shape

(4622, 5)

In [16]:
print("There are %d observations in the dataset" % chipo.shape[0])

There are 4622 observations in the dataset

### Step 6. What is the number of columns in the dataset?

In [17]:
print("There are %d columns in the dataset" % chipo.shape[1])

There are 5 columns in the dataset

### Step 7. Print the name of all the columns.

In [18]:
for column in chipo.columns:
    print(column)

order_id
quantity
item_name
choice_description
item_price

### Step 8. How is the dataset indexed?

In [21]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [22]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 9. Which was the most ordered item?

In [64]:
chipo_aggregated_by_item_name = chipo.groupby('item_name').count().reset_index()

In [65]:
chipo_aggregated_by_item_name_sorted = chipo_aggregated_by_item_name.sort_values(by = 'quantity', ascending = False)

In [67]:
chipo_aggregated_by_item_name_sorted.index = range(0, chipo_aggregated_by_item_name_sorted.shape[0])

In [69]:
chipo_aggregated_by_item_name_sorted.head(1).ix[0]['item_name']

'Chicken Bowl'

### Step 10. How many items were ordered?

In [71]:
chipo_aggregated_by_item_name_sorted.head(1).ix[0]['quantity']

726

### Step 11. What was the most ordered item in the choice_description column?

In [72]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [73]:
chipo_aggregated_by_choice_description = chipo.groupby('choice_description').count().reset_index()

In [74]:
chipo_aggregated_by_choice_description.sort_values(by = 'quantity', ascending = False).head(1)

   choice_description  order_id  quantity  item_name  item_price
15        [Diet Coke]       134       134        134         134

In [111]:
chipo_aggregated_by_choice_description.sort_values(by = 'quantity', ascending = False).head(1).ix[15]['choice_description']

'[Diet Coke]'

### Step 12. How many items were orderd in total?

In [112]:
chipo_aggregated_by_choice_description.sort_values(by = 'quantity', ascending = False).head(1).ix[15]['quantity']

134

### Step 13. How much was the revenue for the period in the dataset?

In [79]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [83]:
chipo['item_price_num'] = chipo['item_price'].apply(lambda x: round(float(x.strip('$')),2))

In [115]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,item_price_num
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,2.39
1,1,1,Izze,[Clementine],$3.39,3.39
2,1,1,Nantucket Nectar,[Apple],$3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98

In [114]:
chipo_aggregated_by_order_id = chipo.groupby('order_id').sum().reset_index()

In [116]:
revenue = sum(chipo_aggregated_by_order_id['item_price_num'])
print("The total revenue for this time period owas $%2.2f." % revenue)

The total revenue for this time period owas $34500.16.

### Step 14. How many orders were made in the period?

In [110]:
chipo.describe().ix['count']['quantity']

4622.0

### Step 15. What is the average amount per order?

In [117]:
import numpy as np
avg_money_per_order = np.mean(chipo_aggregated_by_order_id['item_price_num'])
print("The average amount of money spent per order in this time period was $%2.2f." % avg_money_per_order)

The average amount of money spent per order in this time period was $18.81.

### Step 16. How many different items are sold?

In [120]:
len(chipo['item_name'].unique())

50